body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html, body{
    background-color: rgb(12, 12, 112);
    margin: 0;
    padding: 0;
    color: white;
}
img {
    height: 320px;
    width: 216px;
}

p {
    font-size: 10px;
    margin: 0;
}

#myData{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    
}

.movie-container{
    margin: 5px;
}

button{
    border-radius: 50%;
}

h1{
    font-family:  'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
}